@using WebRuby.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-4 offset-4" style="display:flex; flex-direction:column; justify-content:center; background-color:#f4f5f7; padding:20px; border-radius:10px;">


        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "max-width:initial; width:100%" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "max-width:initial; width:100%" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <div style="display:flex; flex-direction:row; justify-content:space-between">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" name="RememberMe">
                        <label class="custom-control-label" for="customCheck1">Remember Me</label>
                    </div>
                    <p> @Html.ActionLink("Sing Up", "Register") </p>
                </div>
            </div>
        </div>




    </div>
    <div class="form-group text-center pt-lg-3">
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
}
@*<div class="row">
        <div class="col-md-8 offset-2 justify-content-center">
            <section id="loginForm">

            </section>
        </div>

    </div>*@
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}